.cart-container{
    background-color: rgba(255, 153, 0, 0.30);
    padding: 25px;
    position: sticky;
    top:0;
}
.cart-container p{
    color: #2A414F;
    font-size: 17px;
}
.cart-container h6{
    color: #0E161A;
    font-size: 21px;
    margin:0;
}